body,
html,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #c0c4c8;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#title h3 {
  font-weight: bold;
  font-size: 16px;
}

/****** Curriculum style ******/
.doc-content table {
  /* background-color: brown; */
  border-spacing: 30px;
}
.doc-content .title {
  /* background-color: yellow; */
  font-size: xx-large;
  font-family: 'Sant-serif';
  font-weight: bold;
}
.doc-content .subtitle {
  /* background-color: green; */
  font-size: x-large;
  font-family: 'Sant-serif';
  font-weight: bold;
}
.doc-content ul {
  /* background-color: aqua; */
  margin-left: 16px;
  margin-bottom: 16px;
}

.doc-content h1 {
  /* background-color: blue; */
  font-size: larger;
  margin-top: 16px;
}
.doc-content h2 {
  /* background-color: orange; */
  font-size: medium;
  margin-top: 4px;
}
.doc-content h2 span:last-child {
  /* background-color: purple; */
  font-size: medium;
  font-weight: lighter;
  font-style: italic;
}
.doc-content h3 {
  /* background-color: orangered; */
  font-size: small;
  margin-bottom: 8px;
  font-weight: normal;
}

/****** ReadMe style ******/

#desc h1,
#desc h2,
#desc h3,
#desc h4,
#desc h5 {
  font-family: 'Sant-serif';
}

#desc {
  padding: 38px 32px;
}

#desc h1 {
  margin: 12px 0;
}

#desc h2 {
  margin: 8px 0;
}

#desc p {
  margin: 6px 0;
}

#desc figure {
  margin: 16px 0;
  width: fit-content;
}

#desc figure figcaption {
  text-align: center;
}

#desc ul {
  margin-left: 16px;
}

#desc a {
  color: #00c200;
}
